<meta charset="UTF-8">
<style type="text/css">@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=cyrillic,cyrillic-ext,latin-ext');
.footer-company .fc-top.with-text-zone {
	padding-bottom: 0;
}
.footer-company .fc-top {
	padding: 0 10px 0 0!important;
}
.footer-company .fc-text-zone {
	margin-top: -45px!important;
}
._customer-footer {
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	font-weight: 600;
	background-size: cover;
	height: calc(100% - 50px);
	background: #003378;
}
._customer_wrap {
	max-width: 1240px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	position: relative;
	box-sizing: border-box;
	padding: 0 6% 35px 23%;
}
._customer-footer-img {
	width: 34%;
	height: auto;
	position: absolute;
	left: 0;
	top: 0;
}
._customer-left {
	font-size: 13px;
	line-height: 17px;
	position: relative;
	margin-right: 10%;
	padding-top: 30px;
	white-space: nowrap;
}
._customer-left ul {
	margin: 0 !important;
	padding: 0 !important;
}
._customer-left li {
	list-style: url("/system/ckeditor_assets/pictures/137340/content_arrow.png");
	padding-left: 25px;
	line-height: 18px;
}
._customer-left li a {
	color: #fff;
	text-decoration: none;
}
._customer-left li a:hover {
	text-decoration: underline;
}
._customer-center {
	font-family: Arial, sans-serif;
	line-height: 14px;
	font-size: 11px;
	margin-right: 10%;
	white-space: nowrap;
	padding-top: 40px;
}
._customer-mail {
	background: url("img/footer/envelope.png") no-repeat;
	margin-bottom: 7px;
	padding-left: 35px;
}
._customer-mail a {
	color: #fff;
}
._customer_address {
	background: url("img/footer/maps.png") no-repeat;
	margin-bottom: 7px;
	padding-left: 35px;
}
._customer-mode {
	background: url("img/footer/clock.png") no-repeat;
	padding-left: 35px;
}
._customer-right {
	font-size: 14px;
	background: url("img/footer/phone.png") no-repeat;
	background-position: 50% 35px;
	text-align: center;
	padding-top: 68px;
}
._customer-btn {
	width: 155px !important;
	height: 30px !important;
	background: #e8143d;
	border-radius: 4px;
	text-align: center;
	line-height: 30px;
	margin: 0 auto;
	margin-top: 13px;
	cursor: pointer;
	font-size: 11px;
	text-transform: uppercase;
}
._customer-btn:hover {
	opacity: 0.85;
}
._customer-phone a {
	color: #fff;
	text-decoration: none;
}
._customer-phone a:hover {
	text-decoration: underline;
}
._customer-footer_disk{
	height: 45px;
	line-height: 1.4;
	text-align: left;
	color: #2d3146;
	font-size: 14px;
	font-weight: 400;
	max-width: 1240px;
	margin: 0 auto;
	padding-top: 10px;
	display: flex !important;
	justify-content: flex-end;
	font-family: Arial, sans-serif;
}
._customer-footer_disk a{
	color: #2d3146!important;
	text-decoration: underline!important;
	text-decoration-style: dotted!important;
}
._customer-footer_support{
	font-size: 11px;
}
@media (max-width: 1200px){
	._customer-footer-img {

	}
	._customer-left, ._customer-center {
		margin-right: 5%;
	}
	._customer_wrap {
		padding: 0 1% 35px 30%;
	}

}
</style>
<!-- footer -->
<footer class="_customer-footer" itemscope="" itemtype="http://schema.org/LocalBusiness">
	<div class="_customer_wrap">
		<img class="_customer-footer-img" src="img/footer/image.png" alt="">
		<div class="_customer-left">
			<ul>
				<li><a href="/catalog/k-6330802-provoloka">Проволока</a></li>
				<li><a href="/catalog/k-3126515-lenta_stalnaya">Лента стальная</a></li>
				<li><a href="/catalog/k-3126514-svarochnoye_oborudovaniye_i_komplektuyushchiye">Сварочное оборудование<br> и комплектующие</a></li>
				<li><a href="/catalog/k-4939734-takelazhnoye_oborudovaniye">Такелажное оборудование</a></li>
				<li><a href="/catalog/k-6330783-abrazivnyye_krugi">Круги абразивные</a></li>
				<li><a href="/catalog/k-6331473-gvozdi">Гвозди</a></li>
			</ul>
		</div>

		<div class="_customer-center" itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
			<div class="_customer-mail" itemprop="email">
				<a href="mailto:tselitso@ooorps.ru" itemprop="email" onclick="yaCounter45871533.reachGoal('megasite_footer_email'); return true;">tselitso@ooorps.ru</a>
			</div>

			<div class="_customer_address" itemscope itemtype="http://schema.org/PostalAddress" itemprop="address">
				Адрес: <span itemprop="addressLocality">г. Краснодар,</span><br />
				<span itemprop="streetAddress">проезд Тихорецкий 3-й,<br />22, офис №3</span>
			</div>

			<div class="_customer-mode" content="Mo,Tu,We,Th,Fr,Sa 09:00-12:00, 13:00-17:00" itemprop="openingHours">Время работы:<br />
				пн-сб 8:00-17:00,<br />
				перерыв: 12:00-13:00</div>
		</div>

		<div class="_customer-right">
			<div class="_customer-phone" itemprop="telephone">
				<a href="tel:+79182347422" itemprop="telephone" onclick="yaCounter45871533.reachGoal('megasite_footer_tel'); return true;">+7 (918) 234-74-22</a><br />
				<a href="tel:+79183329243" itemprop="telephone" onclick="yaCounter45871533.reachGoal('megasite_footer_tel'); return true;">+7 (918) 332-92-43</a>
			</div>

			<div class="js-ga-link js-orders-callback-link tmpl-communication-content _customer-btn"
				 data-company-id="99531888" data-company-name="Регионпромсервис" data-company-name-rest="ООО"
				 data-company-url="http://www.ooostalbiznes.ru" data-ga-id="CK-1193-1"
				 data-params="{&quot;company_id&quot;:99531888 }" data-statistics="1" data-type="callback"
				 onclick="yaCounter45871533.reachGoal('megasite_footer_callback'); return true;">Заказать звонок
			</div>
		</div>
	</div>
	<meta itemprop="name" content="ООО Регионпромсервис">
</footer>
<div class="_customer-footer_disk">
	<a href="http://www.pulscen.ru/about/disk/individual_support">
		<span>Продвижение сайта</span><br />
		<span class="_customer-footer_support">Индивидуальное сопровождение Пульс цен</span>
	</a>
</div>
<!-- end footer -->